
.bang{
    display: flex;
    justify-content: space-between;
}
.desh{
    height: 38px;
    width: 222px;
    font-size:32px;
    color: solid black;
}
.sign{
    height: 52px;
    width: 116px;
    padding: 30px 15px;
    border-color:#006A50 ;
    background-color: ;
    margin: 15px 30px;
}
#main{
    background-color: #C6E4D6;
    margin: 147px;
display: flex;
justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-between;

}
.yoo{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: auto;
    

}
.baner{
display: flex;
}
.text {
font-size: 56px;
}
.btn{
    border-radius: 5px;
    width: 270px;
    height: 56px;
    background-color:#006A50 ;
    color: white;
    font-size: 18px;
}

.title {
    
    padding: 119px;
    margin:;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius:;
}
.pilars{
    display: flex;
    background-color:F1F1F3 ;
    width: 1280px;
    height: 324px;
}

    
.div{
    background-color:#FFFFFF ;
    width: 302px;
    height: 244px;
    border-radius: 3px;
justify-content: space-between;

}

.digital{
    background-color:#5490F5 ;
    height: 325px;
    width: 410.67px;
    border-radius: 10px;
   
    

}
.a-tbn{
background-color: #006A50;
padding: 20px 11px;
font: size 16px; 
color: white;
width: 122px;
        height: 41px;
        border-radius: 5px;
}
.b-tbn{
    background-color: #09A15C;
    padding: 20px 11px;
    font: size 16px; 
    color: white;
    width: 122px;
        height: 41px;
        border-radius: 5px;
    }
    .c-tbn{
        background-color:#FFC239;
        padding: 20px 11px;
        font: size 16px; 
        color: white;
        width: 122px;
        height: 41px;
        border-radius: 5px;
        }
        .younus{
            background-color: white;
        padding-left: 160px;
        padding-right: 160px;
        margin: 0 auto;
        }
        .parent{
            display: flex;
        }
        .d-tbn{
            background-color:#006A50;
            padding: 20px 11px;
            font: size 16px; 
            color: white;
            width: 122px;
            height: 41px;
            border-radius: 5px;
            }
            .e-tbn{
                background-color:#006A50;
                padding: 20px 11px;
                font: size 16px; 
                color: white;
                width: 122px;
                height: 41px;
                border-radius: 5px;
                }
                .alja{
                    background-color:#ffd9d9;
                    border-radius: 10px;
                    align-items: center;
                }
                .aljaa{
                    background-color:#ffd9d9;
                    border-radius: 10px;
                    align-items: center;
                }
                .donate{
                    
                    font-size: 40px;
                    width: 1280px;
                    height: 48px;
                }
            .para{
             font-size: 16px;
             width: 1104px;
             height: 48px;

            }
            .abt{
                background-color: #ffffff;
            border-radius: 10px;
            align-items: self-start;
            height: 128px;
            width: 240px;
            font-size:40px ;
            border: none;
            box-shadow: 0 10px;
            cursor: pointer;
            text-align: center;
            pad:40px 40px ;
transform: translate(5px);
        }
        .abtt{
            background-color: #C6E4D6;
            border-radius: 10px;
            align-items: self-start;
            height: 128px;
            width: 240px;
            font-size: 40px;
            border: none;
            box-shadow: 0 10px;
            cursor: pointer;
            text-align: center;
            pad:40px 40px ;
transform: translate(5px); 
        }
        .amount{
            height: 64px;
            width: 1032px;
            padding: 40px 20px;
            align-items: center;
            background-color: white;
        }
        .done{
            background-color: #006A50;
            padding: 20px 11px;
            font: size 16px; 
            color: white;
            width: 122px;
                    height: 41px;
                    border-radius: 5px;
                    align-items: center;
            }
            .sub{
                display: flex;
                justify-items: center;

            }
            .enter{
font-size:bold 40px ;
height: 48px;
width: 622px;

            }
            .ppp{
                font-size: 16px;
                align-items: center;
            }
            .fbtn{
                font-size: 16px;
                height: 55px;
                width: 600px;
                background-color: white;
            }
.email{
    height: 55px;
    width: 600px;
    background-color: white;
}
          .test{
            width: 150px;
            height: 56px;
            background-color: #006A50;
          }
          .we{
            font-size: 16px;
            height: 19px;
            width: 622px;

          }
          .bd{
            font-size: bold 32px;
            height: 38px;
            width: 222px;
          }